h2.main-little {
  /*titulo do menu*/
  font-size: 80px;
  font-weight: 100;
  font-family: "Lobster";
  text-align: center;
  color: var(--black);
  text-shadow: 2px 2px 2px;
  -webkit-text-stroke: 2px gold; /*deixa o texto com borda*/
}

